.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.carousel {
  width: 100%; 
  max-width: 800px; 
  height: 100%;
}

.carousel-box {
  background-color: #fff1cd;
  padding: 30px;
  border-radius: 25px;
  max-width: 800px;
  height: 410px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.carousel-image {
  width: auto;
  height: 330px;
  margin: 0; 
  padding: 0; 
  object-fit: contain; 
}