.card {
    border: 0px;
}

.card-carousel-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    background-color: #fdebbb;
    border-radius: 25px;
}

.card-carousel-img {
    object-fit: cover;
    height: 180px; 
    width: 100%;
    border-radius: 0 0 25px 25px; 
}

.card-carousel-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-carousel-text {
    font-size: 1rem;
    font-style: italic;
}