@keyframes slide-up {
    from {
        transform: translateY(20px); 
        opacity: 0; 
    }
    to {
        transform: translateY(0); 
        opacity: 1; 
    }
}

.log-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 80px; 
    justify-content: center;
    align-items: center; 
    text-align: center;
    height: 100%;
    background-color: #ffffff;
    padding: 70px 150px; 
}

.log-list-wrapper {
    background-color: #ffedbb;
    padding: 30px; 
    font-size: 0.7em;
    border-radius: 25px;
    box-shadow: 4px 4px 0 rgba(255, 165, 10, 1);
    width: 100%; 
    max-width: 600px;
    min-width: 300px;
    box-sizing: border-box;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    overflow-y: auto; 
    border: 20px solid #ffedbb; 
    transition: background-color 0.3s ease; 
    text-decoration: none;
    animation: slide-up 0.5s ease forwards;
}

.log-list-wrapper:hover {
    background-color: rgba(255, 226, 146, 0.4); 
    text-decoration: none;
}

.log-list-wrapper::-webkit-scrollbar {
    width: 10px;
}

.log-list-wrapper::-webkit-scrollbar-thumb {
    background-color: #ffb700;
    border-radius: 10px;
}

.log-list-wrapper::-webkit-scrollbar-track {
    background-color: #ffcf81;
    border-radius: 10px;
}

.title {
    font-size: 1.8em;
    color: #ffa50a;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    color: #333;
    margin: 10px 0;
}

.log-form-wrapper p {
    overflow-y: auto;
    max-height: 100%; 
}

a {
    text-decoration: none; 
}

.viewdetails-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 8px;
    text-decoration: none;
    background-color: #ffa50a;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.viewdetails-btn:hover {
    background-color: #ff94a6; 
    color: #fff; 
}

.no-logs-message {
    display: flex;
    justify-content: center; 
    color: #ff94a6; 
    text-align: center; 
    margin-top: 30px;
  }

.salmon-text {
    text-align: center;
}