.log-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 80px; 
    justify-content: center;
    align-items: start; 
    height: 90vh;
    background-color: #ffffff;
    padding: 70px 150px; 
}

.log-list-wrapper {
    background-color: #ffedbb;
    padding: 30px; 
    font-size: 0.7em;
    border-radius: 25px;
    box-shadow: 4px 4px 0 rgba(255, 165, 10, 1);
    width: 100%; 
    max-width: 600px;
    min-width: 300px;
    box-sizing: border-box;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    overflow-y: auto; 
    border: 20px solid #ffedbb; 
    transition: background-color 0.3s ease; 
    text-decoration: none;
}

.log-list-wrapper:hover {
    background-color: rgba(255, 226, 146, 0.4); 
    text-decoration: none;
}

.title {
    font-size: 1.8em;
    color: #ffa50a;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    color: #333;
    margin: 10px 0;
}

.log-form-wrapper p {
    overflow-y: auto;
    max-height: 100%; 
}

a {
    text-decoration: none; 
}

.viewdetails-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 8px;
    text-decoration: none;
    background-color: #ffa50a;
    color: #fff;
    transition: background-color 0.3s ease;
}