.log-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
    background-color: #ffffff; 
}

.log-form {
    background-color: #fae3a5;
    padding: 30px;
    border-radius: 25px; 
    box-shadow: 4px 4px 0 rgba(255, 165, 10, 1);
    width: 600px;
    min-height: 500px; 
    max-height: 800px; 
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffa50a; 
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ff94a6;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px; 
    font-size: 16px;
    min-height: 50px;
}

.form-control:focus {
    border-color: #ffa50a; 
    outline: none;
}

textarea {
    min-height: 150px;
}

.btn-submit {
    display: block;
    width: 100%;
    padding: 16px;
    background-color: #ff94a6;
    color: #fff;
    border: none;
    border-radius: 8px; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #ffb4c1; 
}